@font-face {
    font-family:Coolvetica;
    src: url(coolvetica\ rg.ttf);
}

html {
    background-image: url(background.png);
    background-position-y: center;
}


#amb {
    display: none;
}

#amb-btn {
    position: absolute;
    top: 160px;
}



#main {
    margin-top: 140px;
    display: flex;
    justify-content: center;
}


#container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 450px;
    background-color: #1b1d1d;
    border: 10px solid #939393;
    border-radius: 5px;
    box-shadow: 1px 1px 20px black;
}

#display {
    position: absolute;
    top: 179px;
    width: 215px;
    height: 150px;
    background-color: #3a5a3a;
    font-family: Coolvetica;
    font-size: 70px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    letter-spacing: 1px;
}

#calc {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    column-gap: 7px;
    row-gap: 7px;
    margin-bottom: 10px;
}

.btn {
    background-color: #939393;
    border: none;
    font-size: 35px;
    font-family:Coolvetica;
}

.btn:hover {
    background-color: white;
}

#submit {
    background-color: #189318;
}

#submit:hover {
    background-color: #1db81d
}

#del {
    background-color: #931818;
}

#del:hover {
    background-color: #c52020
}